//
// Alignment
//

.#{$css-prefix}text--left   { text-align: left; }
.#{$css-prefix}text--center { text-align: center; }
.#{$css-prefix}text--right  { text-align: right; }

.#{$css-prefix}align--top    { vertical-align: top; align-self: flex-start; }
.#{$css-prefix}align--middle { vertical-align: middle; align-self: center; }
.#{$css-prefix}align--bottom { vertical-align: bottom; align-self: flex-end; }
