//
// Container
//

$container-padding: 16px;

@function get-container-size($key) {
  @return map-get($container-size, $key);
}

$container-size: ();
$container-size: map-set($container-size, xs, 100%  );
$container-size: map-set($container-size, sm, 100%  );
$container-size: map-set($container-size, md, 100%  );
$container-size: map-set($container-size, lg, 992px );
$container-size: map-set($container-size, xl, 1200px);
