.#{$css-prefix}input-group {
  $my: &;

  display: block;

  &__label {
    display: inline-block;
    vertical-align: bottom;
    @include font-size(sm);
    transition: get-duration(promptly);
    @include color(text-secondary);
    padding-bottom: .3em;
  }

  &__body {
    display: block;
    position: relative;
  }

  &__input-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;

    .#{$css-prefix}btn {
      margin: 0;
      height: auto;
    }
  }

  &__input {
    display: flex;
    flex: 1 1 100%;
  }

  &__details {
    display: flex;
    flex: 1 0 100%;
    min-height: 26px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 4px;
    @include font-size(sm);
  }

  &__messages {
    @include color(text-secondary);
  }

  &__left-icon,
  &__right-icon {
    @include color(text-secondary);
    align-items: center;
    display: inline-flex;
    transition: get-duration(promptly);
  }

  &__left-icon {
    padding-left: get-text-field(padding-horizontal);
  }

  &__right-icon {
    padding-right: get-text-field(padding-horizontal);
  }

  &--focused {
    #{$my}__label,
    #{$my}__left-icon,
    #{$my}__right-icon {
      @include color(text-primary);
    }
  }

  &--error {
    #{$my}__label,
    #{$my}__messages,
    #{$my}__left-icon,
    #{$my}__right-icon {
      @include color(text-danger);
    }
  }
}

//
// Text Field
//

.#{$css-prefix}text-field {

  .#{$css-prefix}input-group__input {
    @include text-field-input-base;
    margin: 0;
    max-width: 100%;
    vertical-align: bottom;
  }

  textarea {
    padding-top: 4px;
    resize: vertical;
    overflow: auto;
  }

  &__node {
    @include text-field-node-base;
  }

  &__counter {
    @include color(text-secondary);
    margin-left: auto;
  }

  &__prefix,
  &__suffix {
    @include color(text-secondary);
    align-items: center;
    display: inline-flex;
  }

  &__prefix {
    padding-left: get-text-field(padding-horizontal);
  }

  &__suffix {
    padding-right: get-text-field(padding-horizontal);
  }

  &__suggest {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    // border-radius: get-text-field(radius);
    border: solid get-text-field(border-width) get-color(form-divider);
    border-top: 0;
    border-radius: 0 0 get-text-field(radius) get-text-field(radius);
    background: #fff;
    box-shadow: get-shadow(menu);

    &-item {
      @include btn-base($display: block);
      width: 100%;
      text-align: left;
      @include font-size(sm);
      padding: .5em;
      @include ellipsis;

      &:hover,
      &:focus,
      &--focused {
        background: get-color(bg-light);
      }
    }
  }

  &--suggested .#{$css-prefix}input-group__input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  @at-root .#{$css-prefix}input-group--left-btn .#{$css-prefix}input-group__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }

  @at-root .#{$css-prefix}input-group--right-btn .#{$css-prefix}input-group__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  @at-root .#{$css-prefix}input-group--focused .#{$css-prefix}input-group__input {
    @include text-field-input-focused;
  }

  @at-root .#{$css-prefix}input-group--focused &__node {
    @include text-field-node-focus;
  }

  @at-root .#{$css-prefix}input-group--error .#{$css-prefix}input-group__input {
    border-color: get-color(context-danger);
    @include color(text-danger);
  }

  @at-root .#{$css-prefix}input-group--error &__counter {
    @include color(text-danger);
  }
}