//
// Color
//

@mixin color($key) {
  color: get-color($key);
}

@mixin background-color($key) {
  background-color: get-color($key);
}

$suitable-text-color-ammount: 70;

@function get-suitable-text-color(
  $bg-color,
  $ammount: $suitable-text-color-ammount,
  $dark: get-color(text-base),
  $light: get-color(text-rev)
) {
  @if lightness($bg-color) <= $ammount {
    @return $light;
  } @else {
    @return $dark;
  }
}

@mixin suitable-text-color(
  $bg-color,
  $ammount: $suitable-text-color-ammount,
  $dark: get-color(text-base),
  $light: get-color(text-rev)
) {
  color: get-suitable-text-color(
    $bg-color: $bg-color,
    $ammount: $ammount,
    $dark: $dark,
    $light: $light
  );
}