//
// Container
//

@mixin container-padding() {
  padding-left: $container-padding;
  padding-right: $container-padding;
}

@mixin container-pull() {
  margin-left: -$container-padding;
  margin-right: -$container-padding;
}

@mixin container-base() {
  @include container-padding;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin container-size($key) {
  max-width: get-container-size($key);
}

@mixin container() {
  $lastKey: null;

  @include container-base;

  @each $key, $size in $container-size {
    $lastKey: $key;
    @include mq($key) {
      @include container-size($key);
    }
  }

  @include container-size($lastKey);


  // @include container-base;
  // @include container-size($key);
}
