//
// App
//

.#{$css-prefix}app {
  transition: padding get-duration(slowly) get-easing(drawer);

  &--header-fixed {
    padding-top: $toolbar-row-height;
  }

  &--drawer-left-static {
    padding-left: $navigation-drawer-width;
  }

  &--drawer-right-static {
    padding-right: $navigation-drawer-width;
  }
}