//
// App
//

.#{$css-prefix}app {
  @include theme-color();

  position: relative;
  transition: padding get-duration(slowly) get-easing(drawer);
  min-height: 100vh;

  &--header-fixed {
    padding-top: $toolbar-row-height;
  }

  &--drawer-left-static {
    padding-left: $navigation-drawer-width;
  }

  &--drawer-right-static {
    padding-right: $navigation-drawer-width;
  }
}